.main {
  position: relative;
  background-color: aqua;
}

.image-div {
  background-color: cornflowerblue;
}

.overlay {
  position: absolute;
  border: 3px solid grey;
  background-color: grey;
  opacity: 1;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.add-button,
.delete-button {
  width: 45%;
}

.buttons button {
  width: 100%;
  padding: 10px 3px;
  border-radius: 5px;
  color: whitesmoke;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.499);
  border: none;
}

.add-button button {
  background-color: rgb(85, 85, 199);
}

.delete-button button {
  background-color: red;
}

.button button:hover {
  cursor: pointer;
  background-color: rgb(10, 94, 66);
}


@media screen and (max-width:900px) {
  
}